[*.cs]

# SKEXP0010: Type is for evaluation purposes only and is subject to change or removal in future updates. Suppress this diagnostic to proceed.
dotnet_diagnostic.SKEXP0010.severity = warning

# SKEXP0050: Type is for evaluation purposes only and is subject to change or removal in future updates. Suppress this diagnostic to proceed.
dotnet_diagnostic.SKEXP0050.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent
