html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color:red;
}

body {
  margin-bottom: 60px;
}

.right {
    text-align: right;
}

.navbar-container {
    width: 100%;
    margin: 0;
}

.container {
    min-width: 1150px !important;
}

.navbar-container div.col {
    padding-left: 10px !important;
}

.tab {
    text-align: center;
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    border-right: 1px solid #dee2e6;
    cursor: pointer;
    margin-top: 10px;
}

.tab .highlight > div {
    background: #f4f4f4;
    margin: 8px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 8px;
}

.tab .unhighlight > div {
    background-color: #fff;
    margin: 8px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 8px;
}

.tab .unhighlight > div:hover {
    background: rgba(13, 110, 253, 0.10);
}

.tab h2 {
    color: #333;
}

.tab a {
    font-weight:600;
}

#uploadForm textarea {
    width: 100%;
    height: 100px;
}

.upload-button {
    margin-top: 15px;
    margin-left: 10px;
    max-width: 220px;
    width: 100%;

}

.tagCloudElem {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 8px 4px;
    margin-top: 0;
    background: #f4f4f4;
    cursor: pointer;
}

.tagCloudElem {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 8px 4px;
    margin-top: 0;
    cursor: pointer;
}

td .tagCloudElem {
    margin: 4px 8px 4px 0 !important;
    padding: 4px 24px !important;
    cursor: default !important;
}

td .tagCloudElemPlaceholder {
    margin: 4px 8px 4px 0 !important;
    padding: 4px 24px !important;
    cursor: default !important;
}

#uploadTagEntry {
    width: 100%;
}

#uploadForm .col {
    padding-right: 0 !important;
    margin-top: 8px;
    margin-bottom: 8px;
}

.upload-error, .upload-error-2 {
    color: #dc3545 !important;
    padding-top: 8px;
    display: none;
}

.tagCloudElem span:nth-child(2) {
    color: red;
    padding: 0px 0px 0px 10px;
}

#piiDialog textarea {
    width: 100%;
    height: 500px;
}

.piiDetails {
    display: none;
}

.piiHover {
    display: none;
    position: absolute;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: var(--bs-body-font-family);
    font-weight: 400;
}

.redacted-content-td > div.content {
    background: #f4f4f4 !important;
    border-radius: 8px;
    padding: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 12pt;
    font-weight: 500;
    color: #444;
    min-width: 500px;
}

.redacted-content-td .form-control {
    width: 100%;
}

.submit-justification-text {
    margin-bottom: 8px;
}

.loading {
    display: block;
    position: fixed;
    z-index: 9999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.loading-background {
    width: 100%;
    height: 100%;
    background: white;
    opacity: .75;
}

.loading .loading-indicator {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.spinner-border {
    width: 5rem;
    height: 5rem;
}

.search-row {
    margin-top: 24px;
    margin-bottom: 24px;
}

.search-row > *:nth-child(1) {
    padding-right: 0 !important;
}

.search-button {
    min-width: 120px;
    width: 100%;
}

.unauth {
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;    
}

.toast {
    background: #222 !important;
}

.toast-body {
    font-size: 1.05em;
}

.toast a {
    color: #f4f4f4 !important;
}