<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhiDeidPortal.Ui</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhiDeidPortal.Ui.styles.css" asp-append-version="true" />
    <script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/moment-timezone.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="row navbar-container">
                <div class="col">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">PHI DeID Portal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col">
                    <div class="right" id="identityLabel">@User.Identity.Name</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @await Component.InvokeAsync("TabbedNavigation")
        @RenderBody()
    </div>

    <!-- Upload modal -->
    <div class="modal fade" id="uploadDialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync("Upload")
                </div>
            </div>
        </div>
    </div>

    <!-- PII modal -->
    <div class="modal fade" id="piiDialog" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PII Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="piiEntitiesContent" name="piiEntities" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- AJAX loader -->
    <div class="loading">
        <div class="loading-background"></div>
        <div class="loading-indicator">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Toast notification -->
    <div class="toast-container position-fixed p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container position-absolute p-3">
        <div id="toast" class="toast align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
            <div class="d-flex">
                <div class="toast-body">
                    Toast body
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PHI DeID Portal
        </div>
    </footer>

</body>
</html>


<script type="text/javascript">
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/cosmosdocuments")
        .build();

    connection.on("UpdateCounts", async function (summary) {
        // debugger;
        
        var highlightedDivId = $(".highlight").attr("id");
        console.log("Highlighted div ID:", highlightedDivId);

        if ($("#totalCount").length && $("#totalCount").text() !== summary.totalCount.toString()) {
            $("#totalCount").text(summary.totalCount);
            if (highlightedDivId == "myDocuments") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
        if ($("#unprocessedCount").length && $("#unprocessedCount").text() !== summary.unprocessedCount.toString()) {
            $("#unprocessedCount").text(summary.unprocessedCount);
            if (highlightedDivId == "unprocessed") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
        if ($("#justificationCount").length && $("#justificationCount").text() !== summary.justificationCount.toString()) {
            $("#justificationCount").text(summary.justificationCount);
            if (highlightedDivId == "justification") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
        if ($("#reviewCount").length && $("#reviewCount").text() !== summary.reviewCount.toString()) {
            $("#reviewCount").text(summary.reviewCount);
            if (highlightedDivId == "review") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
        if ($("#approvedCount").length && $("#approvedCount").text() !== summary.approvedCount.toString()) {
            $("#approvedCount").text(summary.approvedCount);
            if (highlightedDivId == "approved") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
        if ($("#deniedCount").length && $("#deniedCount").text() !== summary.deniedCount.toString()) {
            $("#deniedCount").text(summary.deniedCount);
            if (highlightedDivId == "denied") {
                setTimeout(function () {
                    location.reload();
                }, 3000);
            }
        }
    });


    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>