@using PhiDeidPortal.Ui.ViewComponents
@using PhiDeidPortal.Ui.Entities
@model UploadViewModel

@{
    if (Model.IsFeatureAvailable)
    {
       <form id="uploadForm" action="/api/Documents" method="post" enctype="multipart/form-data">
            <div class="alert alert-info">Supports Microsoft Excel, JSON, Adobe PDF, Plain Text, Microsoft Word. 5MB file size max.</div>
            <input type="file" id="fileInput" name="file" accept=".pdf, .csv, .json, .xls, .xlsx, .doc, .docx" required>
            <div class="row">
                  <div class="col"><input type="text" class="form-control" id="uploadTagEntry" placeholder="(Optional) Enter a tag" /></div>
                  <div class="col"><button class="btn btn-secondary" id="addTag" type="button"><i class="bi bi-plus-lg"></i> Add</button></div>
            </div>
            <input type="text" class="form-control" name="uploadTags" id="uploadTags" readonly hidden />
            <div id="uploadTagCloud">
            </div>
            <button id="submitUpload" class="btn btn-primary" type="button"><i class="bi bi-upload"></i> Upload</button>
       </form>
    }
}


